.Main-Footer-Main-Wrapper{
    background-color: #1B1A1A;
    color: white;
    padding: 70px;
    margin-top: 50px;
    }
    
    .Main-Footer-Categories-Wrapper {
        display: flex;
    }
    
    
    .Category-Wrapper-One, .Category_Wrapper-Second, .Category-wrapper-Third{
        width: 30%;
    }
    
    .Main-Footer-Categories-Wrapper li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    p.main-abt {
        font-size: 22px;
        font-weight: 600;
    }
    
    p.main-quick{
        font-size: 22px;
        font-weight: 600; 
    }
    