.Main-Footer-Main-Wrapper{
    background-color: #1B1A1A;
    color: white;
    padding: 70px;
    margin-top: 50px;
    }
    
    .Main-Footer-Categories-Wrapper {
        display: flex;
    }
    
    
    .Category-Wrapper-One, .Category_Wrapper-Second, .Category-wrapper-Third{
        width: 30%;
    }
    
    .Main-Footer-Categories-Wrapper li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 8px 0px;
    }
    
    p.main-abt {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    p.main-quick{
        font-size: 22px;
        font-weight: 600; 
        margin-bottom: 10px;
    }
    
    @media (max-width: 480px) {
        .Main-Footer-Main-Wrapper {
            padding: 40px;
            margin-top: 50px;
        }

    .Category-Wrapper-One, .Category_Wrapper-Second, .Category-wrapper-Third{
    width: 100%;
}
.Main-Footer-Categories-Wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;

}
    }