/* Signup.css */

.Admin-Signup-main-wrapper{
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up-main-cont {
   width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
.sign-up-main-cont h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
.sign-up-main-cont form {
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-main-cont input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .sign-up-main-cont input:focus {
    border-color: #66afe9;
    outline: none;
  }
  
  .sign-up-main-cont button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .sign-up-main-cont button:hover {
    background-color: #0056b3;
  }
  
  .sign-up-main-cont button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }