.Announcement-main-wrapper {
    background-color: #000000;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* Adjust based on your content */
}

.swiper-container {
    width: 100%;
}

 p.main-announcement-bar-text {
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 0;
}




