.main-dispaly-complete-wrapper {
    padding: 0px 15px;
}

.accordian-main-wrapper {
    display: flex;
    align-items: center;
    padding: 30px 20px;
}

.accordian-main-wrapper p {
    font-size: 12px;
    color: grey;
    cursor: pointer;
}

.accordian-main-wrapper span {
    font-size: 12px;
    color: grey;
    cursor: pointer;
    padding: 0px 5px;
}

.main-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 625px;
    gap: 10px;
}

.main-img-wrapper img {
    width: auto;
    height: 90px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.main-img-wrapper img.selected {
    opacity: 0.5;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 5px;
}

.product-display-wrapper {
    position: relative;
    width: fit-content;
    height: 625px;
    border: 1px solid rgb(221, 220, 220);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.product-display-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.zoomed-image {
    position: absolute;
    top: 0;
    left: 520px; 
    width: 500px;
    height: 500px;
    border: 1px solid rgb(221, 220, 220);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.two-segment-devider {
    display: flex;
    padding-left: 15px;
}

.slider-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.slider-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

.slider-buttons button:hover {
    background-color: #ccc;
}

.product-complete-desc-main-wrapper {
    padding: 0px 25px;
    position: relative;
    z-index: 1;
}

.Product-main-head-main-wrapper {
    border-bottom: 1px solid #cac7c7;
    padding-bottom: 20px;
    padding-right: 110px;
}

.Product-main-head-main-wrapper p {
    font-size: 27px;
    font-weight: 700;
    color: black;
}

.Product-sub-head-main-wrapper p {
    font-size: 12px;
    width: fit-content;
    background-color: rgb(58, 57, 57);
    color: white;
    padding: 0px 5px;
}
