.slider-text-clss-cstm {
    position: absolute !important;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px !important;
}

.slider-text-clss-cstm h2{
    font-weight: 900 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white; /* Change to any color */
  top: 50%;
  transform: translateY(-50%);
}

.swiper-buttons-wrapper-main-class {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    align-items: flex-end;
    z-index: 99999;
    bottom: 50px;
    right: 50px;

}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

