.Announcement-main-wrapper {
    background-color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* Adjust based on your content */
}

.swiper-container {
    width: 100%;
}

.swiper-slide p {
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 0;
}




