.Abt-Head-subhead h1{
    background-color:#f7f7fc ;
    margin: 0px;
    padding-top: 40px;
}

.main-About-wrapper{
    width: 100%;
    padding: 30px 70px 70px 70px;
    background-color: #f7f7fc;
    margin-bottom: 50px;
}


.vhcf-section,
.vhcf-section .vhcf-row {
  width: 100%;
  display: block;
}
.vhcf-section .vhcf-row .vhcf-column {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: white;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.vhcf-section .vhcf-row .vhcf-column .vhcf-module{
  width: 50%;
  /* padding: 15px; */
  box-sizing: border-box;
  text-align: justify;
  font-size: 14px;
  /* border:2px solid #4F46E5; */
}

.vhcf-module .vhcf-promo_description{
    /* border:2px solid #4F46E5; */
    padding: 0px 50px;
    border-radius: 5px;
    /* border-radius: 7px; */
    background-color: white;
    text-align: center;
}


.vhcf-promo_description .head-desc p {
    padding-bottom: 15px;
    font-weight: 600;
    color: #022834;
}


.vhcf-module .vhcf-promo_description button{
  cursor: pointer;
  background-color: white;
  color: #000000;
  padding: 10px 45px;
  border: 1px solid #000000;
  transition: background-color 1.11s ease, color 1.11s ease;
}

.vhcf-module .vhcf-promo_description button:hover{
  background-color: #000000;
  color: white;
}


.vhcf-section .vhcf-row .vhcf-column .vhcf-module img{
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.head-desc p{
  font-size: 18px;
  text-align: left;
}


.item-body-text p{
font-size: 15px;
text-align: left;
padding-bottom: 15px;
color: #022834;
}

.Button-wrapper-aboutus{
  width: 100%;
  text-align: start;
}