.main-admin-wrapper{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
}

.Side-Navigation{
    width: 20%;
    height: 100vh;
    background-color: #332ad4;
}

.Admin-logo{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #9690ff;
    /* border-right:1px solid black; */
}

.Admin-logo p{
    font-family: monospace;
    font-size: 22px;
    font-weight: 900;
    color: #332ad4;
    padding: 10px 0px;
}

.work-wrapper-main{
    width: 80%;
    height: 100vh;
    background-color: #F0F0FF;
}

.main-profile-wrapper{
    width: 100%;
    height: 30vh;
    background-color: #F0F0FF;
    display: flex;
}

.secondary-profile-wrapper{
    width: 97%;
    height: 25vh;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

.main-work-area-wrapper{
    width: 97%;
    height: 68vh;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}