.two-segment-devider{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.product-carousel-wrapper {
    display: flex;
    align-items: center;
  }
  
  .thumbnail-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 500px;
    width: 80px;
  }
  
  .thumbnail {
    width: 100%;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .thumbnail.active {
    border-color: black;
  }
  
  .main-image-display {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  
  .main-image {
    max-width: 600px;
    height: auto;
    object-fit: cover;
  }


  .main-product-image-wrapper img {
    width: 500px;
    height: 500px; /* Ensures the image is square */
    object-fit: cover; /* Crops the image to fit the square without distortion */
    border-radius: 0; /* Remove this or set to 50% if you want circular images */
}

  .product-images-wrapper img {
    width: 50px;
    height: 50px; /* Ensures the image is square */
    object-fit: cover; /* Crops the image to fit the square without distortion */
    border-radius: 0; /* Remove this or set to 50% if you want circular images */
}
  
.main-image-carousel-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 15px;
}
.main-image-display-wrapper img{
width: 480px;
height: 580px;
object-fit: cover;
}

.main-product-details-wrapper {
    width: 50%;
}

.main-image-display-wrapper {
    position: relative;
}

.main-product-carousel-buttons-wrapper {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translateX(-50%);
    z-index: 10; /* Ensures buttons appear above the image */
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
}

.main-product-carousel-buttons-wrapper button{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#FFFFFF;
    border: none;
}